@charset "UTF-8";
/* スライドインメニューに必要なところ */
/* line 10, ../scss/entries.scss */
body {
  position: relative;
  left: 0;
  overflow-x: hidden;
}

/* line 15, ../scss/entries.scss */
#slide_menu {
  position: fixed;
  top: 0;
  left: -55px;
  width: 55px;
  height: 100%;
  background: #666;
}

/* line 25, ../scss/entries.scss */
h1 {
  margin-top: 0;
  margin-bottom: 5px;
}

/* line 29, ../scss/entries.scss */
h2 {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 1em;
}

/* line 34, ../scss/entries.scss */
h2.home-title {
  font-size: 1.5em;
  font-weight: bold;
  background-color: #333;
  color: white;
  padding: 10px;
  line-height: 1em;
}

/* line 42, ../scss/entries.scss */
h3 {
  border-left: solid 10px #333;
  border-bottom: solid 1px #333;
  padding: 5px 10px;
  background-color: #ddd;
}

/* line 49, ../scss/entries.scss */
h4 {
  border-bottom: solid 1px black;
  border-right: solid 5px black;
  padding-bottom: 5px;
}

/* line 54, ../scss/entries.scss */
div.main {
  width: 95%;
  margin: 0 auto;
}

/* line 58, ../scss/entries.scss */
header {
  width: 98%;
  background-color: #fff;
  position: relative;
}
/* line 62, ../scss/entries.scss */
header h1 {
  font-size: 1.5em;
  text-align: center;
}
/* line 67, ../scss/entries.scss */
header h1 img {
  vertical-align: bottom;
}
/* line 72, ../scss/entries.scss */
header #button {
  position: absolute;
  top: 0;
  left: 0;
  background: #666;
  color: #fff;
  height: 35px;
  border-radius: 5px;
  z-index: 20;
}
/* line 81, ../scss/entries.scss */
header #button:hover {
  cursor: pointer;
  opacity: 0.8;
}
/* line 89, ../scss/entries.scss */
header nav.header-menus ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* line 94, ../scss/entries.scss */
header nav.header-menus ul li {
  width: 45px;
  height: 45px;
  padding: 5px;
}
/* line 98, ../scss/entries.scss */
header nav.header-menus ul li a {
  width: 100%;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-decoration: none;
}
/* line 107, ../scss/entries.scss */
header nav.header-menus ul li a:hover {
  opacity: 0.8;
}
/* line 110, ../scss/entries.scss */
header nav.header-menus ul li a:active {
  margin-top: -1px;
  margin-bottom: 1px;
}
/* line 115, ../scss/entries.scss */
header nav.header-menus ul li a#home {
  background: url(home.png) no-repeat;
}
/* line 118, ../scss/entries.scss */
header nav.header-menus ul li a#archive {
  background: url(archive.png) no-repeat;
}
/* line 121, ../scss/entries.scss */
header nav.header-menus ul li a#search {
  background: url(search.png) no-repeat;
}
/* line 124, ../scss/entries.scss */
header nav.header-menus ul li a#info {
  background: url(info.png) no-repeat;
}
/* line 127, ../scss/entries.scss */
header nav.header-menus ul li a#write {
  background: url(write.png) no-repeat;
}
/* line 130, ../scss/entries.scss */
header nav.header-menus ul li a#manage {
  background: url(manage.png) no-repeat;
}
/* line 133, ../scss/entries.scss */
header nav.header-menus ul li a#ichiran {
  background: url(ichiran.png) no-repeat;
}

/* line 141, ../scss/entries.scss */
p.notice {
  margin: 0;
  color: green;
}

/* line 147, ../scss/entries.scss */
article .entry {
  margin-bottom: 20px;
}
/* line 150, ../scss/entries.scss */
article .button44 {
  height: 44px;
  border-radius: 10px;
}
/* line 154, ../scss/entries.scss */
article .button44_submit {
  -webkit-appearance: none;
  height: 44px;
  border-radius: 10px;
  background-color: #ddd;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc));
  background: -webkit-liner-gradient(top, #fff, #ccc);
  background: liner-gradient(to bottom, #fff, #ccc);
}
/* line 164, ../scss/entries.scss */
article .btn44aria input {
  height: 44px;
  border: solid 1px #999;
  border-radius: 10px;
}

/* line 172, ../scss/entries.scss */
p.action a {
  color: #666;
  font-size: 40px;
  text-decoration: none;
  margin-right: 10px;
  display: inline-block;
}

/* line 181, ../scss/entries.scss */
.upload_field {
  margin-top: 100px;
}

/* line 184, ../scss/entries.scss */
footer {
  margin-top: 10px;
}

/* line 188, ../scss/entries.scss */
.page-top {
  margin: 0;
  padding: 0;
  z-index: 30;
  /* 最初は非表示 */
  display: none;
  position: absolute;
  right: 16px;
}
/* line 196, ../scss/entries.scss */
.page-top p {
  margin: 0;
  padding: 0;
}
/* line 199, ../scss/entries.scss */
.page-top p .move-page-top {
  display: block;
  color: #666;
  text-decoration: none;
  text-align: center;
  /* じんわり色を変える */
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 208, ../scss/entries.scss */
.page-top p .move-page-top:hover {
  background: none;
  opacity: 0.65;
  cursor: pointer;
}

@media screen and (min-width: 482px) {
  /* line 220, ../scss/entries.scss */
  article .swipe-list .list {
    width: 100%;
    position: relative;
  }
  /* line 224, ../scss/entries.scss */
  article .swipe-list .list .list-body .list-contents {
    padding: 5px 10px;
  }
  /* line 227, ../scss/entries.scss */
  article .swipe-list .list .list-body .list-contents .title a {
    color: #333;
  }
  /* line 231, ../scss/entries.scss */
  article .swipe-list .list .list-body .list-contents .des1 {
    display: table;
    border-collapse: separate;
    border-spacing: 5px;
    margin-left: 15%;
    margin-right: 130px;
  }
  /* line 237, ../scss/entries.scss */
  article .swipe-list .list .list-body .list-contents .des1 .category,
  article .swipe-list .list .list-body .list-contents .des1 .tag {
    background-repeat: no-repeat;
    background-position: left 0px;
    padding-left: 16px;
    font-size: 0.8em;
    display: table-cell;
  }
  /* line 245, ../scss/entries.scss */
  article .swipe-list .list .list-body .list-contents .des1 .category {
    background-image: url(../img/category.png);
  }
  /* line 248, ../scss/entries.scss */
  article .swipe-list .list .list-body .list-contents .des1 .tag {
    background-image: url(../img/tag.png);
    margin-left: 10px;
  }
  /* line 253, ../scss/entries.scss */
  article .swipe-list .list .list-body .list-contents .des2 {
    text-align: right;
    margin-top: -25px;
  }
  /* line 256, ../scss/entries.scss */
  article .swipe-list .list .list-body .list-contents .des2 .count,
  article .swipe-list .list .list-body .list-contents .des2 .date {
    display: inline;
    margin-left: 10px;
    font-size: 0.8em;
  }
  /* line 264, ../scss/entries.scss */
  article .swipe-list .list .list-body .list-arrow {
    display: none;
  }
  /* line 268, ../scss/entries.scss */
  article .swipe-list .list .list-btn {
    position: absolute;
    right: 0;
    top: 0;
  }
  /* line 272, ../scss/entries.scss */
  article .swipe-list .list .list-btn ul.action {
    list-style-type: none;
    margin: 0;
  }
  /* line 275, ../scss/entries.scss */
  article .swipe-list .list .list-btn ul.action li {
    float: left;
    margin: 5px;
  }
  /* line 278, ../scss/entries.scss */
  article .swipe-list .list .list-btn ul.action li a {
    color: #666;
    text-decoration: none;
    padding: 0;
  }

  /* line 292, ../scss/entries.scss */
  form.new_entry #entry_title,
  form.edit_entry #entry_title {
    width: 500px;
  }
  /* line 295, ../scss/entries.scss */
  form.new_entry #entry_body,
  form.edit_entry #entry_body {
    width: 500px;
    height: 300px;
  }
  /* line 299, ../scss/entries.scss */
  form.new_entry #entry_category,
  form.edit_entry #entry_category {
    width: 300px;
  }
  /* line 302, ../scss/entries.scss */
  form.new_entry #entry_tag,
  form.edit_entry #entry_tag {
    width: 300px;
  }
  /* line 305, ../scss/entries.scss */
  form.new_entry .created_at,
  form.new_entry .updated_at,
  form.edit_entry .created_at,
  form.edit_entry .updated_at {
    width: 40px;
  }
  /* line 309, ../scss/entries.scss */
  form.new_entry #created-year,
  form.new_entry #updated-year,
  form.edit_entry #created-year,
  form.edit_entry #updated-year {
    width: 50px;
  }
}
@media screen and (max-width: 481px) {
  /* line 320, ../scss/entries.scss */
  article .swipe-list .list {
    width: 100%;
  }
  /* line 323, ../scss/entries.scss */
  article .swipe-list .list .list-body .list-contents {
    width: 100%;
  }
  /* line 325, ../scss/entries.scss */
  article .swipe-list .list .list-body .list-contents .des1 {
    margin-left: -5px;
    display: table;
    border-collapse: separate;
    border-spacing: 5px 0;
  }
  /* line 330, ../scss/entries.scss */
  article .swipe-list .list .list-body .list-contents .des1 .category,
  article .swipe-list .list .list-body .list-contents .des1 .tag {
    background-repeat: no-repeat;
    background-position: left 0px;
    padding-left: 16px;
    display: table-cell;
    font-size: 0.8em;
  }
  /* line 338, ../scss/entries.scss */
  article .swipe-list .list .list-body .list-contents .des1 .category {
    background-image: url(../img/category.png);
  }
  /* line 341, ../scss/entries.scss */
  article .swipe-list .list .list-body .list-contents .des1 .tag {
    background-image: url(../img/tag.png);
  }
  /* line 345, ../scss/entries.scss */
  article .swipe-list .list .list-body .list-contents .des2 {
    text-align: right;
  }
  /* line 347, ../scss/entries.scss */
  article .swipe-list .list .list-body .list-contents .des2 .count,
  article .swipe-list .list .list-body .list-contents .des2 .date {
    display: inline;
    font-size: 0.8em;
  }
  /* line 356, ../scss/entries.scss */
  article .swipe-list .list .list-btn ul.action {
    margin: 0;
    padding: 0;
  }
  /* line 360, ../scss/entries.scss */
  article .swipe-list .list .list-btn ul.action li a {
    color: #fff;
    font-size: 1em;
  }
  /* line 371, ../scss/entries.scss */
  article form.new_entry #entry_title,
  article form.edit_entry #entry_title {
    width: 100%;
  }
  /* line 374, ../scss/entries.scss */
  article form.new_entry #entry_body,
  article form.edit_entry #entry_body {
    width: 100%;
    height: 300px;
  }
  /* line 378, ../scss/entries.scss */
  article form.new_entry #entry_category,
  article form.edit_entry #entry_category {
    width: 60%;
  }
  /* line 381, ../scss/entries.scss */
  article form.new_entry #entry_tag,
  article form.edit_entry #entry_tag {
    width: 60%;
  }
  /* line 384, ../scss/entries.scss */
  article form.new_entry .created_at,
  article form.new_entry .updated_at,
  article form.edit_entry .created_at,
  article form.edit_entry .updated_at {
    width: 40px;
  }
  /* line 388, ../scss/entries.scss */
  article form.new_entry #created-year,
  article form.new_entry #updated-year,
  article form.edit_entry #created-year,
  article form.edit_entry #updated-year {
    width: 50px;
  }
}
