/* line 5, ../scss/gazos.scss */
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

/* line 10, ../scss/gazos.scss */
img {
  max-width: 100%;
  vertical-align: bottom;
}

/* line 14, ../scss/gazos.scss */
ul.action {
  list-style-type: none;
  padding-left: 0;
}
/* line 17, ../scss/gazos.scss */
ul.action a.fa {
  text-decoration: none;
  font-size: 30px;
  margin-right: 10px;
  color: #666;
}

/* line 24, ../scss/gazos.scss */
header {
  z-index: 20;
}

/* line 27, ../scss/gazos.scss */
.list-header {
  margin-bottom: 5px;
}
/* line 29, ../scss/gazos.scss */
.list-header a.new_gazo_button {
  float: left;
  display: block;
}
/* line 32, ../scss/gazos.scss */
.list-header a.new_gazo_button:hover {
  background-color: #fff;
  opacity: 0.7;
  cursor: pointer;
}
/* line 42, ../scss/gazos.scss */
.list-header p#shoshiki {
  width: 50px;
  float: left;
  margin: 5px 0 0 40px;
  padding: 5px 10px;
  text-align: center;
}
/* line 48, ../scss/gazos.scss */
.list-header p#shoshiki:hover {
  color: #fff;
  background-color: #666;
  cursor: pointer;
}

/* line 55, ../scss/gazos.scss */
p.image,
dd.image {
  width: 245px;
  height: auto;
  margin-left: 0;
}

/* line 61, ../scss/gazos.scss */
#outputList {
  width: 150px;
}

@media screen and (max-width: 481px) {
  /* line 79, ../scss/gazos.scss */
  header {
    z-index: 20;
  }
}
