@charset "UTF-8";
/* line 5, ../scss/home.scss */
.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

/* line 11, ../scss/home.scss */
.archive p.arc-create:before {
  content: '作成:';
}
/* line 14, ../scss/home.scss */
.archive p.arc-update:before {
  content: '更新:';
}

/* line 18, ../scss/home.scss */
.list-line-even {
  background-color: #e0f8f8;
}

/* line 21, ../scss/home.scss */
.list-line-odd {
  background-color: #f5e8f5;
}

@media screen and (max-width: 480px) {
  /* line 27, ../scss/home.scss */
  article.archive #title-line {
    display: none;
  }
  /* line 31, ../scss/home.scss */
  article.archive dl dt.arc-title {
    float: none;
    width: 100%;
  }
  /* line 35, ../scss/home.scss */
  article.archive dl dd.des1 {
    display: table;
    border-collapse: separate;
    border-spacing: 5px 0;
  }
  /* line 39, ../scss/home.scss */
  article.archive dl dd.des1 p.arc-category {
    background: url("../img/category.png") no-repeat;
  }
  /* line 42, ../scss/home.scss */
  article.archive dl dd.des1 p.arc-tag {
    background: url("../img/tag.png") no-repeat;
  }
  /* line 45, ../scss/home.scss */
  article.archive dl dd.des1 p.arc-category,
  article.archive dl dd.des1 p.arc-tag {
    float: none;
    width: auto;
    background-position: left 0px;
    padding-left: 16px;
    margin-left: 5px;
    font-size: 0.8em;
    display: table-cell;
  }
  /* line 56, ../scss/home.scss */
  article.archive dl dd.des2 {
    width: 10%;
    float: left;
  }
  /* line 60, ../scss/home.scss */
  article.archive dl dd.des3 {
    width: 90%;
    float: left;
    margin-top: 5px;
  }
  /* line 64, ../scss/home.scss */
  article.archive dl dd.des3 p.arc-create,
  article.archive dl dd.des3 p.arc-update {
    float: left;
    width: 45%;
    margin-left: 10px;
    font-size: 0.6em;
    line-height: 1.4;
  }
}
@media screen and (min-width: 481px) {
  /* line 80, ../scss/home.scss */
  .archive #title-line {
    font-size: 0;
  }
  /* line 82, ../scss/home.scss */
  .archive #title-line button {
    box-sizing: border-box;
    display: inline-block;
  }
  /* line 86, ../scss/home.scss */
  .archive #title-line button.title_title {
    width: 53.5%;
  }
  /* line 89, ../scss/home.scss */
  .archive #title-line button.title_cathegory,
  .archive #title-line button.title_tag {
    width: 12.5%;
  }
  /* line 93, ../scss/home.scss */
  .archive #title-line button.title_count {
    width: 5%;
  }
  /* line 96, ../scss/home.scss */
  .archive #title-line button.title_create,
  .archive #title-line button.title_update {
    width: 8%;
  }
  /* line 102, ../scss/home.scss */
  .archive dl, .archive dt, .archive dd, .archive p {
    margin: 0;
    padding: 0;
  }
  /* line 106, ../scss/home.scss */
  .archive dt,
  .archive dd {
    line-height: 1.6em;
  }
  /* line 111, ../scss/home.scss */
  .archive dt.arc-title {
    float: left;
    width: 54%;
  }
  /* line 115, ../scss/home.scss */
  .archive dd.des1 {
    float: left;
    width: 25%;
  }
  /* line 119, ../scss/home.scss */
  .archive dd.des2 {
    float: left;
    width: 3%;
  }
  /* line 123, ../scss/home.scss */
  .archive dd.des3 {
    float: right;
    width: 15%;
  }
  /* line 127, ../scss/home.scss */
  .archive .arc-title {
    padding-left: 5px;
  }
  /* line 130, ../scss/home.scss */
  .archive .arc-category,
  .archive .arc-tag,
  .archive .arc-count {
    font-size: 0.8em;
  }
  /* line 135, ../scss/home.scss */
  .archive .arc-create,
  .archive .arc-update {
    font-size: 0.6em;
  }
}
