<%# -*- coding: utf-8 -*- %>

<article>

	<h2>このブログについて</h2>
	<p>Railsで作ってたブログを、Ruby + MySQL のCGIアプリにしました。
      Railsをデプロイできるところがなくなってきたのが理由です。 
	  Railsって、ほんとうに多機能で便利です。
      でも、今回のことでRubyの勉強になりました。
	</p>

	<h2>プロフィール</h2>
	<p>Name : Sei_N</p>
	<p>HandleName : billie</p>
	<p>Location : Osaka, Japan</p>

	<h2>履歴</h2>
	<dl id="rireki">
        <dt>Ruby版 0.2</dt>
        <dd>2017.05.06</dd>
        <dd>だいたいの完成形ができてきた。あとは細部を詰めるだけ。</dd>
        <dd>とはいうものの、Basic認証とかどうするか、まだ未定。</dd>
        <dd>大きな変更点は、データベースへ画像をバイナリで保存したのをやめたという点。今まではRailsだったから、filesystemへの保存が不安定だったので、バイナリでデータベースに保存していた。でも、その必要なくなったので、ファイルシステムへの保存に変更した。データベースへは、パス情報だけ保存した。</dd>
      <dt>Ruby版 0.1</dt>
      <dd>2017.04.14</dd>
      <dd>ある程度のところまではできた。まあ、形が見えてきたってとこかな。</dd>
		<dt>1.2.6</dt>
			<dd>2015.12.19</dd>
			<dd>ボタンのデザインをiOS用にデザインした。</dd>
			<dd>画像アップロード時のファイル名・ファイルサイズ取得のところの訂正、など。</dd>
		<dt>1.2.5</dt>
			<dd>2015.12.16</dd>
			<dd>javascriptをcoffeescriptに変更して、assets/javascriptsファルダに記述。</dd>
			<dd>しかし、ファイルアップロードの画像とファイル名の表示スクリプトはうまく動かなかったので、application.html.erbの中にスクリプトとして残った。</dd>
		<dt>1.2.4</dt>
			<dd>2015.11.23</dd>
			<dd>スワイプメニューとページトップボタンを導入。</dd>
		<dt>1.2.3</dt>
			<dd>2015.11.21</dd>
			<dd>アーカイブ・検索画面のリストの表示を変更・他</dd>
		<dt>1.2.2</dt>
			<dd>2015.11.18</dd>
			<dd>スマホ画面で、スワイプリスト機能を追加</dd>
		<dt>1.2.1</dt>
			<dd>2015.11.08</dd>
			<dd>画像データベースにログイン認証機能を付加。</dd>
		<dt>1.2.0</dt>
			<dd>2015.11.07</dd>
			<dd>画像データベースを作った。</dd>
			<dd>その画像を記事の中で使えるようにhikidoc.rbを少し修正した。</dd>
		<dt>1.1.1</dt>
			<dd>2015.10.18</dd>
			<dd>メニューをアイコン化した。</dd>
		<dt>1.1.0</dt>
			<dd>2015.09.21</dd>
			<dd>Mogokに引っ越した。</dd>
		<dt>1.0.0</dt>
			<dd>2015.08.16</dd>
			<dd>Herokuにデプロイした。</dd>
	</dl>
</article>
